@model ProductPageVM

@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/shop.js"></script>
}


@section css {
    <link rel="stylesheet" href="~/assets/css/shop.css" />
}


<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="~/assets/images/chevron-up.svg" alt="">
        </a>
    </section>


    <section id="products-area">
        <iv class="container mt-5">
            <div class="row row-gap-5">
                <div class="col-12 col-lg-3">
                    <div class="col-12">
                        <h1>Kateqoriyalar</h1>
                        <div class="filter-btns shadow-md rounded-pill col-auto categories ">
                            <ul>
                                @foreach (var item in Model.Categories)
                                {
                                    <li>
                                        <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4 active" asp-route-categoryId="@item.Id" asp-action="Index" asp-controller="Shop">@item.Name</a>
                                        <span style="text-align:left">(@item.Products.Count)</span>

                                    </li>
                                }

                            </ul>


                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-9">
                    <div class="row row-gap-5">
                        <div class="col-12">
                            <div class="sorting">
                                <div class="container">
                                    <div class="row">
                                        <div class="selection">
                                            <a>Sıralama<i class="fa-solid fa-angle-down"></i></a>
                                            <div class="menu">
                                                <ul>
                                                    <li><a asp-action="Index" asp-controller="Shop" asp-route-sortType="LtoH">Ucuzdan bahaya</a></li>
                                                    <li><a asp-action="Index" asp-controller="Shop" asp-route-sortType="HtoL">Bahadan ucuza</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @if (Model.Pagination.Datas.Count == 0)
                        {
                            <div class="alert alert-info text-center  justify-content-center" role="alert">
                                Məhsul yoxdur
                            </div>
                        }
                        else
                        {
                            @foreach (var item in Model.Pagination.Datas)
                            {
                                <div class="col-12 col-sm-6 col-md-4">

                                    <div class="product-item text-center" data-id="">
                                        <div class="img">
                                            <a sp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                <img src="~/assets/images/@item.ProductImages.FirstOrDefault(m=>m.IsMain).Image" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="title mt-3">
                                            <h6>@item.Name</h6>
                                        </div>
                                        <div class="price">
                                            <a data-id="@item.Id" class="add-product-basket"><span class="text-black-50">Səbətə əlavə et</span></a>
                                            <span class="text-black-50">@item.Price₼</span>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pagination">

                        <ul>
                            @*<li class="page-item @(Model.Pagination.HasPrevious ? "" : "disabled")" "><a class="current">1</a></li>*@
                            @for (int i = 1; i <= Model.Pagination.TotalPage; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "disabled" : "")"><a class="page-link @(i == Model.Pagination.CurrentPage ? "paginate-active" : "")" asp-action="Index" asp-route-page="@i">@i</a></li>
                            }

                            <liclass ="page-item  @(Model.Pagination.HasNext ? "" : "disabled")"> <a class="page-link" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage+1)"><i class="fa-solid fa-arrow-right"></i></a></liclass>
                        </ul>
                    </div>
                </div>
            </div>
    </section>




    </section>
    <!-- End Our Work -->
</main>



