
@model List<BasketVM>

@section js {
    <script src="~/assets/js/basket.js"></script>
}
@section css {
    <link rel="stylesheet" href="~/assets/css/basket.css" />
}

<!-- Cart Page Start -->
<section id="basket-area">
    <div class="container-fluid py-5">
        <div class="container py-5">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="alert alert-danger text-center" role="alert">
                    Məhsul əlavə etmək üçün daxil olun
                </div>
            }
            else
            {
                if (Model.Count == 0)
                {
                    <div>
                        <h1 style="font-weight: 500; text-align: center">Məhsul əlavə edilməyib</h1>
                       
                       
                    </div>
                    <a style=" text-align: center; text-decoration: none; cursor: pointer; width:120px; display: block; margin: auto; color: white; background-color: black; border: 1px solid;" asp-controller="Shop" asp-action="Index">Alışverişə davam et</a>
                }
                else
                {
                    <div class="basket-area">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Məhsullar</th>
                                        <th scope="col">Adı</th>
                                        <th scope="col">Qiyməti</th>
                                        <th scope="col">Miqdar</th>
                                        <th scope="col">Ümumi</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.Id">
                                            <th scope="row">
                                                <div class="d-flex align-items-center">
                                                    <img src="~/assets/images/@item.Image" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                                </div>
                                            </th>
                                            <td>
                                                <p class="mb-0 mt-4">@item.Name</p>
                                            </td>
                                            <td>
                                                <p class="mb-0 mt-4"> ₼ @item.Price</p>
                                            </td>
                                            <td>
                                                <div class="input-group quantity mt-4" style="width: 100px;">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                    <input type="text" class="form-control form-control-sm text-center border-0 product-count" value="@item.Count">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="mb-0 mt-4">@item.ProductTotalPrice ₼</p>
                                            </td>
                                            <td>
                                                <button class="btn btn-md rounded-circle bg-light border mt-4 remove-prod">
                                                    <i class="fa fa-times text-danger"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                   
                        <div class="row g-4 justify-content-end">
                            <div class="col-8"></div>
                            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                                <div class="bg-light rounded">
                                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                                        <h4 class="mb-0 pe-4 total-price">₼ @ViewBag.TotalPrice</h4>
                                    </div>
                                    @*<form method="post" asp-action="BuyProducts" asp-controller="Basket">
                                        <button type="submit" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
                                    </form>*@
                                </div>
                            </div>
                        </div>
                    </div>

                }

            }

        </div>
    </div>
</section>

}
<!-- Cart Page End -->
