@model ProductDetailPageVM
@*@section js {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/assets/js/product.js"></script>
    }*@

@section css {
    <link rel="stylesheet" href="~/assets/css/product-detail.css" />
}

<main>

    <section id="back-to-top-btn">
        <a id="button">
            <img src="~/assets/icons/chevron-up.svg" alt="">
        </a>
    </section>

    <section id="product-detail-page">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="left-side">
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <div class="row">
                                    <div class="col-3 col-sm-12">

                                        <div class="product-image first active-image">
                                            <img src="~/assets/images/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                        </div>
                                    </div>
                                    <div class="col-3 col-sm-12">
                                        <div class="product-image second">
                                            <img src="~/assets/images/@Model.Product.ProductImages.FirstOrDefault(m=>!m.IsMain).Image" alt="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-sm-10">
                                <div class="preview-image first-prev active-preview-image">
                                    <img src="~/assets/images/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="right-side">
                        <div class="name">
                            <span>@Model.Product.Category</span>
                            <h1>@Model.Product.Name</h1>
                        </div>

                        <div class="detail">
                            <p>@Model.Product.Description</p>
                        </div>
                        <div class="price">
                            <span>@Model.Product.Price ₼<span>
</div>

                        <div class="actions">
                            <div class="row">

                                <div class="col-12">
                                    <a  data-id="@Model.Product.Id" style="background-color: black;" class="add-to-product">Səbətə əlavə et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>

</main>