@model ProductDetailVM

<div class="container">
    <div class="create-category">
        <a asp-action="Create" class="btn btn-success text-white mb-3 mx-3">Create</a>
    </div>
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Description</td>
                    <td>@Model.Price</td>
                    <td>@Model.Category</td>
                    <td>@Model.Count</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="product-images justify-content-center">
        @foreach (var item in Model.ProductImages)
        {
            <div class="edit-image bg-light" style="@(item.IsMain ? "border: 3px double green" : "")">
                <img src="~/assets/images/@item.Image" />
            </div>
        }
    </div>
    <a asp-action="Index" class="btn btn-danger">Back</a>
</div>

